src/main/mule/rest/salesforce-authetication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="authentication-rest-flow"
		doc:id="c221c8df-6a13-41de-a926-8bf7895d6b1c">
		<ee:transform doc:name="Build Object Login"
			doc:id="c369c079-9827-450e-919e-dc2bcf21eb55">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	grant_type: "password",
	client_id: p("sfdc.auth.client_id"),
	client_secret: p("sfdc.auth.client_secret"),
	username: p("sfdc.auth.username"),
	password: p("sfdc.auth.password") ++ p("sfdc.auth.security_token")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC REST"
			doc:id="810a40ac-41b6-4215-adf3-041f97d4048b"
			config-ref="SFDC_Auth_Request_Config" path="/services/oauth2/token">
			<http:body><![CDATA[#[{}]]]></http:body>
			<http:query-params><![CDATA[#[payload]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Response AccessToken"
			doc:id="37b1931b-719a-4076-99f8-83c2270d11da">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.access_token
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="authentication-soap-flow"
		doc:id="21b34072-d4f5-4c01-93be-f19a48cd755b">
		<ee:transform doc:name="Build Object Login"
			doc:id="a3959ee8-64cc-4b03-bbe8-8ec77a4c91d9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/xml
ns n1 urn:partner.soap.sforce.com
ns env http://schemas.xmlsoap.org/soap/envelope/
---
env#Envelope: {
    env#Body: {
        n1#login: {
            n1#username: p('sfdc.auth.username'),
            n1#password: p('sfdc.auth.password') ++ p('sfdc.auth.security_token')
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC SOAP"
			doc:id="6102ae83-149e-4d2b-8a89-f3b646f108ef"
			config-ref="SFDC_Auth_Request_Config" path="/services/Soap/u/50.0">
			<http:headers><![CDATA[#[{
	SOAPAction: "login",
	"Content-Type": "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Response AccessToken"
			doc:id="a5e64fcb-70fb-46f6-ba20-29790533051e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.Envelope.Body.loginResponse.result.sessionId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
