src/main/mule/rest/salesforce-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="account-insert-flow" doc:id="ac891450-0c97-48d3-ad59-3ad00445f8d6" >
		<set-variable value="Account" doc:name="Object Name" doc:id="822e5c1f-ee1a-4edd-b3e9-145047d7cceb" variableName="objectName"/>
		<flow-ref doc:name="Get Access Token - SF Auth" doc:id="b5db5129-fd0f-4d38-a92b-64d24f8441d2" name="authentication-rest-flow" target="sfdc_token" targetValue='#[payload."access_token"]'/>
		<ee:transform doc:name="Build Body" doc:id="2947fdc5-01f7-4a9d-b3a3-9e99ba935630">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Name": vars.requestPayload.nome,
	"AccountNumber": vars.requestPayload."numero_conta"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request Account SF" doc:id="61c41731-bdfe-4108-8af8-ed03350476f5" config-ref="SFDC_Endpoint_Request_Config" path="/services/data/v50.0/sobjects/{object_name}">
			<http:headers ><![CDATA[#[{
	"Authorization": "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	"object_name": vars.objectName
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Response" doc:id="86016430-33e4-4383-993a-a9d37653b084" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="account-batch-insert-flow" doc:id="c69d82f9-bd98-4e7e-b2e3-a8d0a3f08455" >
		<flow-ref doc:name="Get Access Token - SF Auth" doc:id="6647838f-4653-44c8-9c31-28773f12bca0" name="authentication-rest-flow" target="sfdc_token" targetValue='#[payload."access_token"]'/>
		<ee:transform doc:name="Build Body" doc:id="d79ec0fe-8066-4edb-9ba0-8993e5984c81" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  operation : "insert",
  object : "Account",
  contentType: "CSV",
  lineEnding: "CRLF"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Create Job" doc:id="3297dcbb-50de-4ca6-af24-0dad40032e75" config-ref="SFDC_Endpoint_Request_Config" path="/services/data/v51.0/jobs/ingest" target="job_id" targetValue="#[payload.id]" >
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Build Body" doc:id="6c503db0-2762-48ed-9c7f-6e6627b444f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/csv lineSeparator="\r\n"
---
vars.requestPayload map (
	{
		name: $.nome
	}
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Upload Data" doc:id="ebcfb386-2de5-4f00-846e-2fb6128f1f71" config-ref="SFDC_Endpoint_Request_Config" path="/services/data/v51.0/jobs/ingest/{JobId}/batches" >
			<http:headers ><![CDATA[#[{
	"Authorization": "Bearer " ++ vars."sfdc_token" as String,
	"Content-type": "text/csv"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	"JobId": vars."job_id"
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Build Body" doc:id="220054ea-4f5c-49fc-a71d-a8e97b17fc56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
   state : "UploadComplete"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PATCH" doc:name="Complete Upload" doc:id="4c2970c3-f2ad-4204-986b-d84c02360fa6" config-ref="SFDC_Endpoint_Request_Config" path="/services/data/v51.0/jobs/ingest/{JobId}">
			<http:headers ><![CDATA[#[{
	"Authorization": "Bearer " ++ vars."sfdc_token" as String
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	"JobId": vars."job_id"
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Response" doc:id="e795313e-88dd-4d5f-a7ee-08625c8febf1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Batch completed."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="account-list-flow" doc:id="fe93c272-9606-4c59-a6a0-fc076a844f85" >
		<set-variable value="#[attributes.queryParams.query]" doc:name="Query" doc:id="7070a917-a13a-4539-9f94-3833960bd9a0" variableName="query"/>
		<flow-ref doc:name="Get Access Token - SF Auth" doc:id="0e30c2c3-2408-44d6-a3b9-8830e6720e1b" name="authentication-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		<http:request method="GET" doc:name="Request Query SF" doc:id="fa792e20-c962-40a3-9f7f-514050302944" config-ref="SFDC_Endpoint_Request_Config" path="/services/data/v51.0/query" >
			<http:body ><![CDATA[#[{}]]]></http:body>
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	q: vars.query
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Response" doc:id="fe720fba-094b-430a-8a93-908d3f1e7874" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.records map ($ - "attributes")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="account-by-id-flow" doc:id="4d059807-04dd-46ef-b5ea-b363bb7d5ff2" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Account Id" doc:id="4b3f932d-01d5-47b7-ac3c-92268c264fdd" variableName="account_id"/>
		<flow-ref doc:name="Get Access Token - SF Auth" doc:id="dd2d996d-8175-4aa4-a6d3-68702f9dd12b" name="authentication-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		<http:request method="GET" doc:name="Request Conta APEX" doc:id="00947830-98ba-414e-9c6b-bec15a10a714" config-ref="SFDC_Endpoint_Request_Config" path="/services/apexrest/conta">
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	id: vars.account_id
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Response" doc:id="b0eaf062-faf2-4c56-958a-ecd6cf701424" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0] - "attributes"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
