src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="interface-rest-api" doc:id="5b53ca25-f78d-4a88-9ff2-84fb89010c45" >
		<http:listener doc:name="/rest/*" doc:id="37106137-694a-476d-9618-b15e76be0831" config-ref="Global_HTTP_Listener_config" path="/rest/*"/>
		<set-variable value="#[payload]" doc:name="Request Payload" doc:id="b5de71d6-e98a-4f21-b8cb-43eb0675418f" variableName="requestPayload"/>
		<apikit:router doc:name="APIkit REST Router" doc:id="151c9da6-adb2-4ff5-89b7-98bba2f96d66" config-ref="REST_API_Router"/>
	</flow>
	<flow name="interface-components-api" doc:id="19ca8955-bd1b-4257-9028-03bc80b70682" >
		<http:listener doc:name="/components/*" doc:id="24507104-43c3-42fd-823c-a5bdd1a9c52e" config-ref="Global_HTTP_Listener_config" path="/components/*"/>
		<set-variable value="#[payload]" doc:name="Request Payload" doc:id="b49febb6-5bd5-4cdd-9f05-0c778fd3f81d" variableName="requestPayload" />
		<apikit:router doc:name="APIkit Components Router" doc:id="da6c6a44-7ce9-4410-bf16-c90d33eb41e3" config-ref="Components_API_Router"/>
	</flow>
</mule>
